{% extends "layout.html" %}
{% block content %}
<tr class="row">
    <article class="media content-section2 row">
        <div class="media-body">
            <h2><a class="article-title2">Welcome to my book reviews!</a></h2>
            <p class="article-content2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet. Feugiat scelerisque varius morbi enim. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Quisque non tellus orci ac auctor augue mauris augue. Eget est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet. Egestas maecenas pharetra convallis posuere morbi leo urna molestie at. Enim blandit volutpat maecenas volutpat blandit. Diam maecenas sed enim ut sem. Dictum at tempor commodo ullamcorper. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Feugiat in ante metus dictum at tempor commodo. Pellentesque massa placerat duis ultricies lacus sed turpis. Neque viverra justo nec ultrices. Turpis egestas maecenas pharetra convallis posuere morbi leo urna. Urna duis convallis convallis tellus id.</p>
        </div>
    </article>
    <article class="media content-section2 row">
        <div class="media-body">
            <h2><a class="article-title2">Click the books page to see all of the reviews!</a></h2>
            <p class="article-content2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet. Feugiat scelerisque varius morbi enim. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Quisque non tellus orci ac auctor augue mauris augue. Eget est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet. Egestas maecenas pharetra convallis posuere morbi leo urna molestie at. Enim blandit volutpat maecenas volutpat blandit. Diam maecenas sed enim ut sem. Dictum at tempor commodo ullamcorper. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Feugiat in ante metus dictum at tempor commodo. Pellentesque massa placerat duis ultricies lacus sed turpis. Neque viverra justo nec ultrices. Turpis egestas maecenas pharetra convallis posuere morbi leo urna. Urna duis convallis convallis tellus id.</p>
        </div>
    </article>
</tr>
{% endblock content %}